<div>
    <h2>
        <span jhiTranslate="clinicApp.doctorProfile.home.title">Doctor Profiles</span>
        <button class="btn btn-primary float-right create-doctor-profile" [routerLink]="['/', { outlets: { popup: ['doctor-profile-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="clinicApp.doctorProfile.home.createLabel">
            Create new Doctor Profile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="doctorProfiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="clinicApp.doctorProfile.email">Email</span></th>
            <th><span jhiTranslate="clinicApp.doctorProfile.passHash">Pass Hash</span></th>
            <th><span jhiTranslate="clinicApp.doctorProfile.doctor">Doctor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let doctorProfile of doctorProfiles ;trackBy: trackId">
                <td><a [routerLink]="['../doctor-profile', doctorProfile.id ]">{{doctorProfile.id}}</a></td>
                <td>{{doctorProfile.email}}</td>
                <td>{{doctorProfile.passHash}}</td>
                <td>
                    <div *ngIf="doctorProfile.doctor">
                        <a [routerLink]="['../doctor', doctorProfile.doctor?.id ]" >{{doctorProfile.doctor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../doctor-profile', doctorProfile.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doctor-profile/'+ doctorProfile.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doctor-profile/'+ doctorProfile.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
