<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRoutineCaseLabel" jhiTranslate="clinicApp.routineCase.home.createOrEditLabel">Create or edit a Routine Case</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!routineCase.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="routineCase.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.routineCase.beginTime" for="field_beginTime">Begin Time</label>
            <div class="d-flex">
                <input id="field_beginTime" type="datetime-local" class="form-control" name="beginTime" [(ngModel)]="routineCase.beginTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.routineCase.endTime" for="field_endTime">End Time</label>
            <div class="d-flex">
                <input id="field_endTime" type="datetime-local" class="form-control" name="endTime" [(ngModel)]="routineCase.endTime"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.routineCase.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="routineCase.description"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="clinicApp.routineCase.doctorDayRoutine" for="field_doctorDayRoutine">Doctor Day Routine</label>
            <select class="form-control" id="field_doctorDayRoutine" name="doctorDayRoutine" [(ngModel)]="routineCase.doctorDayRoutine" >
                <option [ngValue]="null"></option>
                <option [ngValue]="doctorDayRoutineOption.id === routineCase.doctorDayRoutine?.id ? routineCase.doctorDayRoutine : doctorDayRoutineOption" *ngFor="let doctorDayRoutineOption of doctordayroutines; trackBy: trackDoctorDayRoutineById">{{doctorDayRoutineOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
