<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientLabel" jhiTranslate="clinicApp.client.home.createOrEditLabel">Create or edit a Client</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!client.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="client.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.client.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="client.name"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.client.surname" for="field_surname">Surname</label>
            <input type="text" class="form-control" name="surname" id="field_surname"
                [(ngModel)]="client.surname"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.client.lastname" for="field_lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname" id="field_lastname"
                [(ngModel)]="client.lastname"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.client.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="client.phone"
             />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.client.photo" for="field_photo">Photo</label>
            <div>
                <div *ngIf="client.photo" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(client.photoContentType, client.photo)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{client.photoContentType}}, {{byteSize(client.photo)}}</span>
                    <button type="button" (click)="client.photo=null;client.photoContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, client, 'photo', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="photo" id="field_photo"
                [(ngModel)]="client.photo"
             />
            <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                [(ngModel)]="client.photoContentType" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
