<div>
    <h2>
        <span jhiTranslate="clinicApp.messageAttachment.home.title">Message Attachments</span>
        <button class="btn btn-primary float-right create-message-attachment" [routerLink]="['/', { outlets: { popup: ['message-attachment-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="clinicApp.messageAttachment.home.createLabel">
            Create new Message Attachment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="messageAttachments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="clinicApp.messageAttachment.attachmentFile">Attachment File</span></th>
            <th><span jhiTranslate="clinicApp.messageAttachment.message">Message</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let messageAttachment of messageAttachments ;trackBy: trackId">
                <td><a [routerLink]="['../message-attachment', messageAttachment.id ]">{{messageAttachment.id}}</a></td>
                <td>
                    <a *ngIf="messageAttachment.attachmentFile" (click)="openFile(messageAttachment.attachmentFileContentType, messageAttachment.attachmentFile)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="messageAttachment.attachmentFile">{{messageAttachment.attachmentFileContentType}}, {{byteSize(messageAttachment.attachmentFile)}}</span>
                </td>
                <td>
                    <div *ngIf="messageAttachment.message">
                        <a [routerLink]="['../message', messageAttachment.message?.id ]" >{{messageAttachment.message?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../message-attachment', messageAttachment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'message-attachment/'+ messageAttachment.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'message-attachment/'+ messageAttachment.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
