
<div *ngIf="messageAttachment">
    <h2><span jhiTranslate="clinicApp.messageAttachment.detail.title">Message Attachment</span> {{messageAttachment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="clinicApp.messageAttachment.attachmentFile">Attachment File</span></dt>
        <dd>
            <div *ngIf="messageAttachment.attachmentFile">
                <a (click)="openFile(messageAttachment.attachmentFileContentType, messageAttachment.attachmentFile)" jhiTranslate="entity.action.open">open</a>
                {{messageAttachment.attachmentFileContentType}}, {{byteSize(messageAttachment.attachmentFile)}}
            </div>
        </dd>
        <dt><span jhiTranslate="clinicApp.messageAttachment.message">Message</span></dt>
        <dd>
            <div *ngIf="messageAttachment.message">
                <a [routerLink]="['/message', messageAttachment.message?.id]">{{messageAttachment.message?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'message-attachment/'+ messageAttachment.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
