<div>
    <h2>
        <span jhiTranslate="clinicApp.doctorDayRoutine.home.title">Doctor Day Routines</span>
        <button class="btn btn-primary float-right create-doctor-day-routine" [routerLink]="['/', { outlets: { popup: ['doctor-day-routine-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="clinicApp.doctorDayRoutine.home.createLabel">
            Create new Doctor Day Routine
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="doctorDayRoutines">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="clinicApp.doctorDayRoutine.dayBeginTime">Day Begin Time</span></th>
            <th><span jhiTranslate="clinicApp.doctorDayRoutine.dayEndTime">Day End Time</span></th>
            <th><span jhiTranslate="clinicApp.doctorDayRoutine.date">Date</span></th>
            <th><span jhiTranslate="clinicApp.doctorDayRoutine.doctor">Doctor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let doctorDayRoutine of doctorDayRoutines ;trackBy: trackId">
                <td><a [routerLink]="['../doctor-day-routine', doctorDayRoutine.id ]">{{doctorDayRoutine.id}}</a></td>
                <td>{{doctorDayRoutine.dayBeginTime | date:'medium'}}</td>
                <td>{{doctorDayRoutine.dayEndTime | date:'medium'}}</td>
                <td>{{doctorDayRoutine.date | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="doctorDayRoutine.doctor">
                        <a [routerLink]="['../doctor', doctorDayRoutine.doctor?.id ]" >{{doctorDayRoutine.doctor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../doctor-day-routine', doctorDayRoutine.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doctor-day-routine/'+ doctorDayRoutine.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'doctor-day-routine/'+ doctorDayRoutine.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
