<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myClientAdressLabel" jhiTranslate="clinicApp.clientAdress.home.createOrEditLabel">Create or edit a Client Adress</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!clientAdress.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="clientAdress.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="clinicApp.clientAdress.adress" for="field_adress">Adress</label>
            <input type="text" class="form-control" name="adress" id="field_adress"
                [(ngModel)]="clientAdress.adress"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="clinicApp.clientAdress.client" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" [(ngModel)]="clientAdress.client">
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id === clientAdress.client?.id ? clientAdress.client : clientOption" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
